

/*Google Fons       recomendable realizar la importacion del mismo archivo .css */

@import url('https://fonts.googleapis.com/css2?family=Fleur+De+Leah&family=Gwendolyn:wght@400;700&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');




/*
  font-family: "Advent Pro", sans-serif;
  font-family: "Poppins", sans-serif;
*/




/*bootstrap Iconos*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");



/*Para resetear*/
*{
    /*Estilo 1 de parrafo*/
    font-family: "Poppins", serif;

    margin: 0;
    padding: 0;
    box-sizing: border-box;

    text-decoration: none;
    outline: none;
    border: none;

    text-transform: capitalize;

/*
    outline: 1px solid red;
    outline: none;
*/
    



    -webkit-box-sizing: border-box;
}

/*Estilos genraels*/
/*aplicamos mediente un pseudoelemnto de manera general*/
*::selection{
    background: var(--limon);
    color: white;
}


html{
    font-size: 62.4%;

    /*    
    para controlar el moviiento
    overflow: hidden;     para tener estatico
    
    */
    overflow-x: hidden;   
}

body{

    /*Estilo 1 de parrafo*/
    /*    font-family: "Poppins", serif;*/

    background-color: var(--colorEstilo18);

    /*desplazamieento suave cuando se usa navevacion por ancla*/
    scroll-behavior: smooth;

}


/*Estilos generales*/
:root{

    --colorEstilo1:#000000;    
    --colorEstilo2:#020004;
    --colorEstilo3:#1c1c1d;
    --colorEstilo4:#212529;
    --colorEstilo5:#222222;

    --colorEstilo6:#2e2e2e;
    --colorEstilo7:#333333;
    --colorEstilo8:#3c3c3c;
    --colorEstilo9:#403b3b;
    --colorEstilo10:#5d5d5d;
    --colorEstilo11:#4D4D4D;
    --colorEstilo12:#888888;

    --colorEstilo13:#ababab;
    --colorEstilo14:#cccccc;
    --colorEstilo15:#d1cebd;
    
    --colorEstilo16:#eeeeee;
    --colorEstilo17:#efefef;
    --colorEstilo18:#F9F9F9;
    --colorEstilo19:#ffffff;

    --colorEstilo20: #F8F9FA;
    --colorEstilo21:#111111;
    --colorEstilo22:#0B0D0E;
    --colorEstilo23:#0B0D0E;
    --colorEstilo24:#131617;
    --colorEstilo25:#212425;
    --colorEstilo26:#353636;
    --colorEstilo27:#403F40;
    --colorEstilo28:#6C757D;

    --colorEstilo29:#111111;
    --colorEstilo30:#212121;
    --colorEstilo31:#2f2f2f;

    --colorEstilo32:#999999;
    --colorEstilo33:#e6ebff;

    --colorEstilo34:#b5b5b5;   
    --colorEstilo35:#f0f0f0;
    --colorEstilo36:#0d1326;

    --colorEstilo37:#e6ebff;
    --colorEstilo38:#337ab7;
    --colorEstilo39:#f44336;
    --colorEstilo40:#ff5722;


    --texto1: "Poppins", serif;
    --texto2: "Gwendolyn", serif;


    --verde:#0c443a;
    --limon:#25d1b2;
    --degradado: linear-gradient(90deg, var(--limon), var(--verde));



}




/*elementos de manjera flexible*/
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    background-color: white;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    padding: 2rem 9%;


    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    /*los elemento se poscione en el parte sueperior*/
    z-index: 1000;

}

header .logo{
    font-size: 2rem;
    color: var(--verde);
}

header .logo span{
    color: var(--limon);
}

header .navbar a{
    font-size: 1.8rem;
    margin-left: 2rem;
    color: var(--verde);
}

header .navbar a:hover{
    color: var(--limon);
    transition: all 0.3s ease-in;
}


/*combiar el checck con el icono de hamburguesa*/
header input{
    display: none;  /*para retitarel recuyadro checkbox*/
}

header label{
    font-size: 3rem;
    color: var(--verde);
    cursor: pointer;

    visibility: hidden; /*es para desaparwce pero no elimiabnr su espacio*/
    opacity: 0; /*para q este apagado muy ocpadado*/
}





/*************************************/
/*banner*/
/*************************************/

/* previa

section.inicio div.content{
    margin-top: 80px;
}
*/

section{
    min-height: 100vh; /*deliminar la altura*/
    padding: 0 9%;
    padding-top: 7.5rem;
    padding-bottom: 2rem;
}


.inicio{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;


    background-image: url("../imagenes/inicio_fondo.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}


/*para la imagen audigionos*/
.inicio .image img{
    width: 40vw;
    animation: float 3s linear infinite;
}

/*aimacion de la imagen*/
@keyframes float{
    0%, 100%{
        transform: translateY(0rem);
    }

    50%{
        transform: translateY(-3.5rem);
    }
}

.inicio .content h3{
    font-size: 5.5rem;
    color: #333;
    text-transform: uppercase;
}

.inicio .content h3 span{
    color: var(--limon);
    text-transform: uppercase;
}

.inicio .content p{
    font-size: 1.7rem;
    color: #666;
    padding: 1rem 0;
}


.btn{
    display: inline-block;
    margin-top: 1rem;
    padding: .8rem 3rem;
    border-radius: 5rem;
    background: var(--degradado);

    font-size: 1.8rem;
    color: white;
    cursor: pointer;

    box-shadow: 0.5rem 1rem rgba(0, 0, 0, .1);
    transition: all 0.3s linear;
}

.btn:hover{
    transform: scale(1.1);
}



/*************************************/
/*detalles*/
/*************************************/
.heading{
    text-align: center;
    background: var(--verde);
    color: transparent;
    --webkit-background-clip: text;

    background-clip: text;
    font-size: 3.5rem;

    text-transform: uppercase;
    padding: 1rem;
}


.detalles .caja-contenedor{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;    
}

.detalles .caja-contenedor .caja{
    flex: 1 1 30rem;
    background-color: white;

    border-radius: 0.5rem;
    border: .1rem solid rgba(0, 0, 0, .2);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .1);
    margin: 1.5rem;
    padding: 3rem 2rem;
    border-radius: .5rem;
    text-align: center;
    transition: .2s linear;
}

.detalles .caja-contenedor .caja img{
    height: 15rem;
}

.detalles .caja-contenedor .caja h3{
    font-size: 2rem;
    color: #333;
    padding-top: 1rem;
}

.detalles .caja-contenedor .caja p{
    font-size: 1.3rem;
    color: #666;
    padding: 1rem 0;
}


.acercade{
    background: url("../imagenes/fondo_2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-bottom: 3rem;
}

.acercade .columna{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


.acercade .columna .image{
    flex: 1 1 40rem;
}


.acercade .columna .image img{
    width: 100%;
}

.acercade .columna .content{
    flex: 1 1 40rem;
}

.acercade .columna .content h3{
    font-size: 3rem;
    color: #333;
}

.acercade .columna .content p{
    font-size: 1.5rem;
    color: #666;
    padding: 1rem 0;
}

.acercade .columna .content .bottons a:last-child{
    margin-left: 2rem;
}



/*suscribete*/
.suscribete{
    text-align: center;
    padding: 5rem 1rem;
    background: url("../imagenes/fondo_sub.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.suscribete h3{
    color: white;
    font-size: 3rem;
    text-transform: uppercase;
}

.suscribete p{
    color: whitesmoke;
    font-size: 1.6rem;
    margin: 2rem auto;
    width: 70rem;
}


.suscribete form{
    display: flex;
    flex-direction: row;

    max-width: 70rem;   /*limitar el ancho*/
    border: .2rem solid whitesmoke;
    padding: .5rem;
    border-radius: 5rem;
    margin: 2rem auto;
    height: 5.5rem;

}


.suscribete form input[type="email"]{
    padding: 0 2rem;
    font-size: 1.7rem;
    background: none;
    width: 100%;
    color: white;
    text-transform: none;
    background: none;
}


.suscribete form input[type="email"]::placeholder{
    color: whitesmoke;
    text-transform: capitalize;
}

.suscribete form input[type="submit"]{
    background: white;
    width: 20rem;
    font-size: 1.7rem;
    border-radius: 5rem;
    cursor: pointer;
}

.suscribete form input[type="submit"]:hover{
    color: var(--limon);
}




/*opiniones*/
.opiniones .caja-contenedor {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}



.opiniones .caja-contenedor .caja{
    background: white;
    margin: 1rem;
    padding: 1rem;
    text-align: center;

    position: relative; /*posicion general relativa*/


    border: .1rem solid rgba(0,0,0,.2);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);

    flex: 1 1 30rem;
    border-radius: .5rem;
}


.opiniones .caja-contenedor .caja .fa-atom{
    position: absolute;
    top: 1rem;
    right: 2rem;
    font-size: 8rem;
    color: var(--limon);
    opacity: .3;
}

.opiniones .caja-contenedor .caja .user img{
    border-radius: 50%;
    object-fit: cover;
    height: 8rem;
    width: 8rem;
    margin-top: 2rem;
}

.opiniones .caja-contenedor .caja .user h3{
    color: var(--verde);
    font-size: 2rem;
}

.opiniones .caja-contenedor .caja .user .stars i{
    color: var(--verde);
    font-size: 1.5rem;
    padding: 1rem 0;
}

.opiniones .caja-contenedor .caja .comentarios{
    color: #666;
    font-size: 1.5rem;
    padding: 1rem;
}



/**/
.precios .caja-contenedor{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.precios .caja-contenedor .caja{
    flex: 1 1 28rem;
    margin:  1rem;
    padding: 1rem;
    background: white;
    border: .1rem solid rgba(0,0,0,.2);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);

    border-radius: .5rem;
    text-align: center;
    padding-bottom: 3rem;
}


.precios .caja-contenedor .caja:nth-child(2),
.precios .caja-contenedor .caja:hover
{
    border: .2rem solid var(--limon);
}

.precios .caja-contenedor .caja .titulo{
    color: var(--verde);
    font-size: 2.5rem;
    padding-top: 1rem;
}

.precios .caja-contenedor .caja .tipos{
    font-size: 4rem;
    color: var(--limon);
    padding: 1rem 0;
}

.precios .caja-contenedor .caja .tipos span{
    font-size: 2rem;
}

.precios .caja-contenedor .caja ul{
    padding: 1rem 0;
    list-style: none;
}

.precios .caja-contenedor .caja ul li{
    font-size: 1.7rem;
    color: #333;
    padding: .5rem 0;
}

.precios .caja-contenedor .caja ul li .fa-check{
    color: lightgreen;
}

.precios .caja-contenedor .caja ul li .fa-xmark{
    color: red;
}


/**/
.contactos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 4rem;
}

.contactos .image{
    flex: 1 1 40rem;
}

.contactos .image img{
    width: 100%;
    padding: 2rem;
}

.contactos form{
    flex: 1 1 40rem;
    padding: 2rem 3rem;

    border: .1rem solid rgba(0,0,0,.2);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);

    border-radius: .5rem;
    background: white;
}


.contactos .heading{
    text-align: left;
    padding: 0;
    padding-bottom: 2rem;
}


.contactos form .inputcaja{
    position: relative;
}


.contactos form .inputcaja input, 
.contactos form .inputcaja textarea
{
    width: 100%;
    background:none;
    color: #333;
    margin: 1.5rem 0;
    padding: .5rem 0;
    font-size: 1.7rem;
    border-bottom: .1rem solid rgba(0, 0, 0, .1);
    text-transform: none;
}


.contactos form .inputcaja textarea{
    resize:  none;  /*************** ***********ojo*/
    height: 13rem;
}

.contactos form .inputcaja label{
    position: absolute;
    top: 1.7rem;
    left: 0;
    font-size: 1.7rem;
    color: #666;
    transition: .2s linear;
}


.contactos form .inputcaja input:focus ~ label,
.contactos form .inputcaja input:valid ~ label,
.contactos form .inputcaja textarea:focus ~ label,
.contactos form .inputcaja textarea:valid ~ label{
    top: -.5rem;
    font-size: 1.5rem;
    color: var(--limon);
}


/**/
.footer{
    padding-top: 3rem;
    background: url("../imagenes/footer-fondo.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.footer .caja-contenedor{
    display: flex;
    flex-wrap: wrap;
}

.footer .caja-contenedor .caja{
    flex: 1 1 25rem;
    margin: 2rem;
}

.footer .caja-contenedor .caja h3{
    font-size: 2.5rem;
    padding: 1rem 0;
    color: wheat;
    text-decoration: underline;
    
    /*limitar un tamaño pequeño*/
    text-underline-offset: 1rem;
}


.footer .caja-contenedor .caja p{
    font-size: 1.5rem;
    padding: .5rem 0;
    color: whitesmoke;
}

.footer .caja-contenedor .caja a{
    display: block;
    font-size: 1.5rem;
    padding: .5rem 0;
    color: wheat;
}

.footer .caja-contenedor .caja a:hover{
    text-decoration: underline;
}

.footer .caja-contenedor .caja .info{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer .caja-contenedor .caja .info i{
    margin: .5rem 0;
    margin-right: 1rem;
    border-radius: 50%;
    background: whitesmoke;
    color: var(--verde);
    font-size: 1.8rem;
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    text-align: center;
}

.footer .creditos{
    font-size: 2rem;
    font-weight: normal;
    letter-spacing: .1rem;
    color: wheat;
    border-top: .1rem solid wheat;
    padding: 2.5rem 1rem;
    text-align: center;
}






/*ancho de escritorio*/
@media(max-width:1200px) 
{
    html{
        font-size: 55%;
    }
}



@media(max-width:990px) {
    section{
        padding:  0 3%;
        padding-top: 7.5rem;
        padding-bottom: 2rem;
    }
}




/*ancho de tablet*/
@media(max-width:768px) 
{
    header label{
        visibility: visible;
        opacity: 1;
    }

    header .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: white;
        /* 
        background-color: whitesmoke;
        */

        padding: 1rem 2rem;
        border-top: .1rem solid rgba(0,0,0,.2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);


        transform-origin: top;
        transform: scaleY(0);
        opacity: 0;




        /*aca animacon de la barra de menu hamburguesa*/
        transition: .2s linear;

        /*
         transition: .2s linear;
        */
       

    }



    header .navbar a{
        display: block;
        margin: 2rem 0;
        font-size: 1.5rem;
    }


    /*ahora el boton hamburguesa funcione con la barra de menu*/
    /*css avanzado para hacer clic*/
    header input:checked ~ .navbar{
        transform: scaleY(1);
        opacity: 1;



        /*aniimacion de la barra de menu responsive*/
        /*transition: all 0.3s ease-in;*/
    }


    /*
    la hacer una acccion para q aparcezca icono "X" al pulsar el boton haburrugesa
    */
    header input:checked ~ label::before{
        content: '\f00d';
        
    }


    .inicio{
        display: flex;
        flex-direction: column-reverse;
    }


    .inicio .image img{
        width: 100%;
    }

    .inicio .content h3{
        font-size: 3.6rem;
    }

    .inicio .content p{
        font-size: 1.5rem;
    }



    /**/
    .acercade{
        background-position: right;
    }




    /**/
    .suscribete p{
        width: auto;
    }

}



/*ancho de celular*/
@media(max-width:450px) {
    html{
        font-size: 49%;
    }

    .acercade .columna .content .bottons a{
        width: 100%;
        text-align: center;
    }

    .acercade .columna .content .bottons a:last-child{
        margin: 1rem 0;
    }



}










